.block {
  display: inline-block;
  border-radius: 50%;
}

.container {
  position: relative;
  min-width: 300px;
  min-height: 300px;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.win {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}

.new-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button {
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 10px 5px;
}

input[type="radio"] {
  display: none;
}

.tab-label {
  height: 30px;
  width: 30%;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
}

input:checked + .tab-label {
  text-decoration: underline;
}

.new-game, .rules, .top {
  height: calc(100% - 30px);
  padding: 10px;
}

#new-game:not(:checked) ~ .new-game,
#rules:not(:checked) ~ .rules,
#top:not(:checked) ~ .top {
  display: none;
}

.top-game-type {
  text-align: center;
  padding: 1em 0 0 0;
  border-bottom: 1px solid grey;
}

.top-name {
  display: inline-block;
  width: 40%;
}
